<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<body>
    <nav class="meu_navbar">
        <div class="meu_logo">Claim-SM</div>

        <div class="meu_center">
            <a href="/Home/home" class="meu_link active">Home</a>
            <a href="/Home/claim" class="meu_link">Claim</a>
            <a href="/Home/track" class="meu_link">Track Claim</a>
            <a href="/Home/Pre_approve" class="meu_link">Pre Approve</a>
            <a href="/Home/Approve" class="meu_link">Approve</a>
        </div>

        <div class="meu_user">   <a href="/Home/Index" class="meu_link"> <i class="fa fa-user" style="font-size:20px;color:#fff;"></i></a></div>
    </nav>
</body>